# nginx.conf

server {
    listen 80;
    server_name localhost;

    root /usr/share/nginx/html;
    index index.html;

    # Regla para el routing de React (SPA)
    location / {
        try_files $uri $uri/ /index.html;
    }

    # CONFIGURACIÓN CLAVE: Proxy Reverse para el API
    # Redirige todas las peticiones a /api al contenedor del backend
    location /api {
        # 'spring-boot-app' es el nombre que le dimos al servicio/contenedor API en Docker Compose.
        proxy_pass http://spring-boot-app:8080;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}